resources:
- name: backend-inst
  type: compute.v1.instance
  properties:
    zone: europe-west1-b
    machineType: zones/{{ properties["zone"] }}/machineTypes/{{ properties["machine-type"] }}
    tags:
         items: ["http","http-server"]
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/gce-uefi-images/global/images/family/ubuntu-1804-lts
    networkInterfaces:
    - network: global/networks/default